*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #9d9ae3,
    #a09ae5,
    #a39ae7,
    #bd8ddf,
    #d77ece,
    #ec6eb6,
    #fb5f98
  );
}
.container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 4px;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 1rem;
}
.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #9d9ae3,
    #a09ae5,
    #a39ae7,
    #bd8ddf,
    #d77ece,
    #ec6eb6,
    #fb5f98
  );
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-details .input-box {
  width: 45%;
  margin: 20px 0 12px 0;
}
.user-details input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 16px;
}
.input-box .details {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.submit {
  width: 100%;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  margin-top: 1rem;
  font-size: 1.25rem;
  z-index: 1;
  border: 1px solid grey;
  color: #9a9ae1;
  background-color: white;
}
.submit::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 0;
  right: 100%;
  top: 0;
  transition: 0.3s ease-in-out;
  background-color: #ec6eb6;
}

.submit:hover::before {
  right: 0;
}
.submit:hover {
  color: white;
  transform: scale(1.03);
}
